/* * General Resets */
th {padding: 0px;}
h1, h2, h3, h4, h5, h6, p, ul, ol, li {margin: 0px;}
ul, ol, li {padding: 0px;}

/* * General Helper Classes */

.align--centered {
  text-align: center;
}

.align--right {
  text-align: right;
}

.unbold {
  font-weight: 300;
}

.bold {
  font-weight: bold;
  inline-font-weight: 700;
}

.align--left {
  text-align: left;
}

.italic {
  font-style: italic;
}



.black {color: $black;}
.light-black {color: $light-black;}
.white {color: $white;}
.gold {color: $gold;}
.tan {color: $tan;}
.gray-tan {color: $gray-tan;}
.light-gray {color: $light-gray;}


.bg-black {background-color: $black;}
.bg-light-black {background-color: $light-black;}
.bg-white {background-color: $white;}
.bg-gold {background-color: $gold;}
.bg-tan {background-color: $tan;}
.bg-gray-tan {background-color: $gray-tan;}
.bg-light-gray {background-color: $light-gray;}


/* Custom Helper Classes */
.font-size--30 {font-size: 30px;}
.font-size--18 {font-size: 18px;}




