<!-- START: MAIN BODY CONTENT (MODULES START HERE) -->
<tr>
  <th align="center" width="100%" border="0" style="width:100%;">
    <table align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
      {% block content %}
      {% include "partials/body/body-txt.njk" %}
      {% endblock %}
    </table>
  </th>
</tr>
<!-- END: MAIN BODY CONTENT (MODULES START HERE) -->