<!-- START: FOOTER -->
<tr>
  <th class="pad-tb--35 pad-lr--35 m-paddlr--0 black--bg" align="center" width="100%" border="0" style="width:100%;">
    <table align="center" role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
      {% block content %}
      {% include "partials/footer/social-icons.njk" %}
      {% include "partials/footer/contact-info.njk" %}
      {% include "partials/footer/company-info.njk" %}
      {% endblock %}
    </table>
  </th>
</tr>
<!-- END: FOOTER -->