<!-- START: HEADER -->
<tr>
  <th class="pad-btm--30" align="center" width="100%" border="0" style="width:100%;">
    <table align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
      {% block content %}
      {% include "partials/header/top-nav.njk" %}
      {% endblock %}
    </table>
  </th>
</tr>
<!-- END: HEADER -->