<!-- START: CONTACT INFORMATION -->
<tr>
  <th align="center" width="100%" border="0" style="width:100%;">
    <table align="center" width="100%" border="0" role="presentation" cellpadding="0" cellspacing="0" style="width:100%;">
      <tr>
        <th class="pad-btm--30" align="center" width="100%" border="0" style="width:100%;">
          <table class="mobile" align="center" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto;">
            <tr>
              <th class="stack pad-lr--10 border-r--white txt--footer--contact m-border--none" align="center" border="0"><a href="https://www.whereoware.com/"
                  target="_blank" name="viewOnline" style="text-decoration: none; color: #ffffff;">View
                  Online</a></th>
              <th class="stack pad-lr--10 border-r--white txt--footer--contact m-border--none" align="center" border="0"><a href="https://www.whereoware.com/"
                  target="_blank" name="emailPreferences" style="text-decoration: none; color: #ffffff;">Email
                  Preferences</a></th>
              <th class="stack pad-lr--10 txt--footer--contact" align="center" border="0"><a href="https://www.whereoware.com/" target="_blank"
                  name="Unsubscribe" style="text-decoration: none; color: #ffffff;">Unsubscribe</a></th>
            </tr>
          </table>
        </th>
      </tr>
    </table>
  </th>
</tr>
<!-- END: CONTACT INFORMATION -->