<!-- START: SOCIAL ICONS -->
<tr>
  <th class="pad-btm--30" align="center" width="100%" border="0" style="width:100%;">
    <table align="center" width="100%" border="0" role="presentation" cellpadding="0" cellspacing="0" style="width:100%;">
      <tr>
        <th align="center" width="100%" border="0" style="width:100%;">
          <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto;">
            <tr>
              <th class="social-icon" align="center" border="0"><a href="https://www.facebook.com/" target="_blank" xt="SPCLICK" name="socialImgLink_facebook"
                  style="text-decoration: none;">
                  <img src="./assets/facebook.png" alt="facebook" width="15" height="15" style="display: block;">
                </a></th>
              <th class="social-icon" align="center" border="0"><a href="https://www.instagram.com/" target="_blank" xt="SPCLICK" name="socialImgLink_instagram"
                  style="text-decoration: none;">
                  <img src="./assets/instagram.png" alt="instagram" width="15" height="15" style="display: block;">
                </a></th>
              <th class="social-icon" align="center" border="0"><a href="https://www.pinterest.com/" target="_blank" xt="SPCLICK" name="socialImgLink_pinterest"
                  style="text-decoration: none;">
                  <img src="./assets/pinterest.png" alt="pinterest" width="15" height="15" style="display: block;">
                </a></th>
              <th class="social-icon" align="center" border="0"><a href="https://www.youtube.com/" target="_blank" xt="SPCLICK" name="socialImgLink_youtube"
                  style="text-decoration: none;">
                  <img src="./assets/linkedin-in.png" alt="youtube" width="15" height="15" style="display: block;">
                </a></th>
            </tr>
          </table>
        </th>
      </tr>
    </table>
  </th>
</tr>
<!-- END: SOCIAL ICONS -->