<tr>
  <th align="center" width="100%" border="0" style="width: 100%;">
    <h5 class="txt--h5 marg-btm--10" inline-class="txt--h5">Product Name Here</h5>
    {% include "modules/partials/product-link.njk" %}
  </th>
</tr>