{% extends "cp_wrapper.njk" %}

{% block content %}
{% include "./partials/body/example.njk" %}
{% endblock %}

<!-- * Sets the unique ID for the code perfect module -->
{% set id_var = "exampleID" %}
<!-- ! Should match what's in the data="" html attributes -->
{% set data_var = "Example Module" %}