<!-- START: TOP NAVIGATION -->
<tr>
  <th class="hide" align="center" width="100%" border="0" style="width:100%;">
    <table align="center" role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
      <tr>
        <th class="pad-tb--15" align="center" width="100%" border="0" class="hide" style="width: 100%;">
          <table align="center" role="presentation" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto;">
            <tbody>
              <tr>
                <th align="center" width="100%" border="0" style="width:100%;">
                  <table align="center" role="presentation" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto;">
                    <tr>
                      <th class="top-nav-item" align="center" border="0">
                        <a href="https://www.whereoware.com/" name="Nav_About" target="_blank">About</a>
                      </th>
                      <th class="top-nav-item" align="center" border="0">
                        <a href="https://www.whereoware.com/" name="Nav_Work" target="_blank">Work</a>
                      </th>
                      <th class="top-nav-item" align="center" border="0">
                        <a href="https://www.whereoware.com/" name="Nav_Services" target="_blank">Services</a>
                      </th>
                      <th class="top-nav-item" align="center" border="0">
                        <a href="https://www.whereoware.com/" name="Nav_Products" target="_blank">Products</a>
                      </th>
                      <th class="top-nav-item" align="center" border="0">
                        <a href="https://www.whereoware.com/" name="Nav_New" target="_blank">New</a>
                      </th>
                    </tr>
                  </table>
                </th>
              </tr>
            </tbody>
          </table>
        </th>
      </tr>
    </table>
  </th>
</tr>
<!-- END: TOP NAVIGATION -->