/* body * {
  outline: 1px solid brown;
} */

.testingStyleSheets {
  background: pink;
}

.testingStyleSheets2 {
  max-width: 1000px;
  font-family: serif;
}

@media screen and (max-width: 600px) {
  .test {
    background: yellow;
  }
}

@media screen and (max-width: 1000px) {
  .test {
    background: green;
  }
}

.mainContainer {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: green;
  font-size: 50px;
  text-transform: uppercase;
  text-align: left;
  color: red;
  background: #000000;
  text-decoration: underline;
}