/* * Text Helper Classes */

.txt--h1 {
  font-family: $primary-font;
  text-align: center;
  font-weight: normal;
  inline-font-weight: $p-light;
  line-height: 1.1;
  font-size: 46px;
  color: $black;
  letter-spacing: 2.5px;
}

.txt--h2 {
  font-family: $primary-font;
  text-align: center;
  font-weight: normal;
  inline-font-weight: $p-light;
  line-height: 1;
  font-size: 36px;
  color: $black;
}

.txt--h3 {
  font-family: $primary-font;
  text-align: center;
  font-weight: bold;
  inline-font-weight: $p-demi;
  line-height: 1;
  font-size: 16px;
  color: $gold;
  letter-spacing: 7.15px;
}

.txt--h4 {
  font-family: $primary-font;
  text-align: center;
  font-weight: bold;
  inline-font-weight: $p-demi;
  line-height: 1;
  font-size: 22px;
  color: $gold;
  letter-spacing: 7.15px;
}

.txt--h5 {
  font-family: $primary-font;
  text-align: center;
  font-weight: normal;
  inline-font-weight: $p-light;
  line-height: 1.25;
  font-size: 24px;
  color: $black;
}

.txt--body {
  font-family: $primary-font;
  text-align: center;
  font-weight: normal;
  inline-font-weight: $p-book;
  line-height: 1.6;
  font-size: 18px;
  letter-spacing: -0.1px;
  color: $dark;
}

ul {
  font-family: $primary-font;
}

li {
  text-align: left;
  line-height: 17px;
  font-size: 10px;
  color: $black;

  span {
    font-weight: normal;
    inline-font-weight: 300;
    line-height: 1.41;
    font-size: 17px;
    color: $black;
  }
}

.txt--inline-link {
  display: block;
  font-weight: bold;
  inline-font-weight: 700;
  color: $black;
  text-decoration: underline;
}

.txt--link {
  font-family: $primary-font;
  text-align: center;
  font-weight: normal;
  inline-font-weight: $p-medium;
  line-height: 1.25;
  font-size: 15px;
  color: $black;
  letter-spacing: 3.1px;
  text-decoration: none;

  a {
    color: $black;
    text-decoration: none;
  }

}

.txt--btn {
  font-family: $primary-font;
  text-align: center;
  font-weight: normal;
  inline-font-weight: $p-book;
  line-height: 1;
  font-size: 17px;
  color: $white;
  letter-spacing: 3.15px;
  background-color: $light-black;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 65px;
  padding-right: 65px;

  a {
    text-decoration: none;
    color: $white;
  }
}

.txt--btn.ghost {
  border: 2px solid $black;
  background-color: unset;
  line-height: 1.25;
  font-size: 16px;
  color: $black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 29px;

  a {
    color: $black;
    text-decoration: none;
  }
}

.txt--btn-full {
  color: $white;
  text-align: center;
  line-height: 1.33;
  font-weight: bold;
  font-size: 14px;
  background-color: $black;
  letter-spacing: 0.75px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;

  a {
    text-decoration: none;
    color: $white;
    width:100%;
    display:block;
    font-family: $primary-font;
  }
}

/* * Footer Text Helper Classes */

.currey-hurry {
  font-family: $primary-font;
  text-align: center;
  font-weight: bold;
  inline-font-weight: $p-medium;
  line-height: 1;
  font-size: 13px;
  color: #bd0102;
  letter-spacing: 1.7px;

  a {
    color: #bd0102;
    font-weight: bold;
    inline-font-weight: $p-medium;
    text-decoration: none;
  }
}

.contact-us {
  font-family: $primary-font;
  text-align: center;
  font-weight: normal;
  inline-font-weight: $p-book;
  line-height: 1;
  font-size: 13px;
  color: #555555;
  letter-spacing: 2px;

  a {
    color: #555555;
    text-decoration: none;
  }
}

.unsub {
  font-family: $primary-font;
  text-align: center;
  font-weight: normal;
  inline-font-weight: $p-book;
  line-height: 1.5;
  font-size: 10px;
  color: #070808;
  letter-spacing: 1.54px;

  a {
    color: #070808;
    text-decoration: none;
  }
}

.txt-footer--body {
  font-family: $primary-font;
  text-align: center;
  font-weight: normal;
  inline-font-weight: $p-book;
  line-height: 1.43;
  font-size: 13px;
  color: #555555;

  a {
    color: #555555;
  }
}

.txt-footer--links {
  font-family: $primary-font;
  text-align: center;
  font-weight: normal;
  inline-font-weight: $p-book;
  line-height: 1.5;
  font-size: 10px;
  color: $black;

  a {
    color: $black;
    text-decoration: none;
  }
}

.txt--disclaimer {
  font-family: $primary-font;
  text-align: center;
  font-weight: normal;
  inline-font-weight: 300;
  line-height: 1.54;
  font-size: 13px;
  color: $gray;
}

.logo-container a {
  font-weight: bold;
  inline-font-weight: 700;
  font-size: 30px;
  color: $black;
}

.social-icons a {
  font-size: 13px;
  color: $gray;
}
