<!-- START: MODULE - 2-UP -->
<tr>
  <th class="pad-btm--60" border="0" style="width:100%;" width="100%" align="center">
    <table inline-class="mobile" role="presentation" style="width: 100%;" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
      <tr>
        <!-- col 1 -->
        <th class="pad-r--10" inline-class="m-width--50 m-pad-r--0" border="0" style="width: 320px; vertical-align: top;" width="320" align="center">
          <table inline-class="mobile" role="presentation" style="width: 100%;" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
            <!-- image -->
            <tr>
              <th class="pad-btm--25" inline-class="hero" border="0" style="width: 100%;" width="100%" align="center"><a href="https://www.curreyandcompany.com/" border="0" target="_blank" style="text-decoration: none;"><img src="https://via.placeholder.com/320x320" alt="" style="display: block; margin: 0 auto;" width="320" height="320"></a></th>
            </tr>
            <tr>
              <th inline-class="m-pad-lr--30" align="center" width="100%" border="0" style="width: 100%;">
                <table inline-class="mobile"  align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                  <!-- divider -->
                  <tr>
                    <th class="pad-btm--20" align="center" width="100%" border="0" style="width: 100%;">
                      <table align="center" role="presentation" border="0" cellpadding="0" cellspacing="0" width="80" style="width: 80px; min-width: 80px;">
                        <tr>
                          <th align="center" width="100%" border="0" height="1" style="width: 100%; border-bottom: 2px solid #8c8b8a; height: 1px; line-height: 1px; font-size: 1px;">&nbsp;</th>
                        </tr>
                        <tr>
                          <th align="center" width="100%" border="0" height="1" style="width: 100%; height: 1px; line-height: 1px; font-size: 1px;">&nbsp;</th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                  <!-- headline h5 and link --> 
                  {% include "modules/partials/product-name-link.njk" %}
                </table>
              </th>
            </tr>
          </table>
        </th>
        <!-- col 2 -->
        <th inline-class="m-width--50" border="0" style="width: 320px; vertical-align: top;" width="320" align="center">
          <table inline-class="mobile" role="presentation" style="width: 100%;" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
            <!-- image -->
            <tr>
              <th class="pad-btm--25" inline-class="hero" border="0" style="width: 100%;" width="100%" align="center"><a href="https://www.curreyandcompany.com/" border="0" target="_blank" style="text-decoration: none;"><img src="https://via.placeholder.com/320x320" alt="" style="display: block; margin: 0 auto;" width="320" height="320"></a></th>
            </tr>
            <tr>
              <th inline-class="m-pad-lr--30" align="center" width="100%" border="0" style="width: 100%;">
                <table inline-class="mobile"  align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                  <!-- divider -->
                  <tr>
                    <th class="pad-btm--20" align="center" width="100%" border="0" style="width: 100%;">
                      <table align="center" role="presentation" border="0" cellpadding="0" cellspacing="0" width="80" style="width: 80px; min-width: 80px;">
                        <tr>
                          <th align="center" width="100%" border="0" height="1" style="width: 100%; border-bottom: 2px solid #8c8b8a; height: 1px; line-height: 1px; font-size: 1px;">&nbsp;</th>
                        </tr>
                        <tr>
                          <th align="center" width="100%" border="0" height="1" style="width: 100%; height: 1px; line-height: 1px; font-size: 1px;">&nbsp;</th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                  <!-- headline h5 and link --> 
                  {% include "modules/partials/product-name-link.njk" %}
                </table>
              </th>
            </tr>
          </table>
        </th>
      </tr>
    </table>
  </th>
</tr>
<!-- END: MODULE - 2-UP -->