<!-- START: MODULE - 3-UP -->
<tr>
  <th class="pad-btm--60" border="0" style="padding: 0px; width:100%;" width="100%" align="center">
    <table inline-class="mobile" role="presentation" style="width: 100%;" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
      <tr>
        <!-- col 1 -->
        <th class="pad-r--10" inline-class="m-width--33 m-pad-r--0" border="0" style="padding: 0px; width: 210px; vertical-align: top;" width="210" align="center">
          <table inline-class="mobile" role="presentation" style="width: 100%;" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
            <!-- image -->
            <tr>
              <th class="pad-btm--15" inline-class="hero" border="0" style="width: 100%;" width="100%" align="center"><a href="https://www.curreyandcompany.com/" border="0" target="_blank" style="text-decoration: none;"><img src="https://via.placeholder.com/210x210" alt="" style="display: block; margin: 0 auto;" width="210" height="210"></a></th>
            </tr>
            <tr>
              <th class="pad-lr--10" align="center" width="100%" border="0" style="padding: 0px; width: 100%;">
                <table inline-class="mobile"  align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                  <!-- headline h5 and link -->
                  <tr>
                    <th align="center" width="100%" border="0" style="width: 100%;">
                      <h5 class="txt--h5 marg-btm--10 font-size--18" inline-class="txt--h5">Product Name Here</h5>
                      {% include "modules/partials/product-link.njk" %}
                    </th>
                  </tr>
                </table>
              </th>
            </tr>
          </table>
        </th>
        <!-- col 2 -->
        <th class="pad-r--10" inline-class="m-width--33 m-pad-r--0" border="0" style="padding: 0px; width: 210px; vertical-align: top;" width="210" align="center">
          <table inline-class="mobile" role="presentation" style="width: 100%;" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
            <!-- image -->
            <tr>
              <th class="pad-btm--15" inline-class="hero" border="0" style="width: 100%;" width="100%" align="center"><a href="https://www.curreyandcompany.com/" border="0" target="_blank" style="text-decoration: none;"><img src="https://via.placeholder.com/210x210" alt="" style="display: block; margin: 0 auto;" width="210" height="210"></a></th>
            </tr>
            <tr>
              <th class="pad-lr--10" align="center" width="100%" border="0" style="padding: 0px; width: 100%;">
                <table inline-class="mobile"  align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                  <!-- headline h5 and link -->
                  <tr>
                    <th align="center" width="100%" border="0" style="width: 100%;">
                      <h5 class="txt--h5 marg-btm--10 font-size--18" inline-class="txt--h5">Product Name Here</h5>
                      {% include "modules/partials/product-link.njk" %}
                    </th>
                  </tr>
                </table>
              </th>
            </tr>
          </table>
        </th>
        <!-- col 3 -->
        <th inline-class="m-width--33" border="0" style="padding: 0px; width: 210px; vertical-align: top;" width="210" align="center">
          <table inline-class="mobile" role="presentation" style="width: 100%;" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
            <!-- image -->
            <tr>
              <th class="pad-btm--15" inline-class="hero" border="0" style="width: 100%;" width="100%" align="center"><a href="https://www.curreyandcompany.com/" border="0" target="_blank" style="text-decoration: none;"><img src="https://via.placeholder.com/210x210" alt="" style="display: block; margin: 0 auto;" width="210" height="210"></a></th>
            </tr>
            <tr>
              <th class="pad-lr--10" align="center" width="100%" border="0" style="padding: 0px; width: 100%;">
                <table inline-class="mobile"  align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                  <!-- headline h5 and link -->
                  <tr>
                    <th align="center" width="100%" border="0" style="width: 100%;">
                      <h5 class="txt--h5 marg-btm--10 font-size--18" inline-class="txt--h5">Product Name Here</h5>
                      {% include "modules/partials/product-link.njk" %}
                    </th>
                  </tr>
                </table>
              </th>
            </tr>
          </table>
        </th>
      </tr>
    </table>
  </th>
</tr>
<!-- END: MODULE - 3-UP -->