<!-- START: MODULE - BACKGROUND IMAGE SCURVE -->
<!-- right image -->
<tr>
  <th class="pad-btm--60" align="center" style="width: 100%;" width="100%">
    <table inline-class="mobile" align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
      <tr>
        <th inline-class="m-background-scurve" background="https://via.placeholder.com/650x400" width="650" height="400" style="background-image: url('https://via.placeholder.com/650x400'); background-repeat: no-repeat; background-position: center center; background-size: cover; background-color: #cccccc; vertical-align: middle;">
          <!-- convert pixels to points for outlook width and height using the expectation that 1px = 1pt -->
          <!-- formula: pt = px * .75 -->
          <!--[if gte mso 9]>
            <v:image xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style=" border: 0;display: inline-block; width:487.5pt; height:300pt;" src="https://via.placeholder.com/650x400" />
            <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style=" border: 0;display: inline-block;position: absolute; width:487.5pt; height:300pt;">
            <v:fill  opacity="0%" color="#cccccc"  />
            <v:textbox style="v-text-align: center" inset="0,0,0,0">
            <![endif]-->
          <div>
            <!-- Overlay image or text -->
            <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%; vertical-align: middle;" width="100%" role="presentation">
              <tr>
                <th inline-class="m-background-scurveHeight" height="400" style="width: 100%; height: 400px; vertical-align: middle;">
                  <table inline-class="reset--width float--left" align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                    <tr>
                      <!-- spacer -->
                      <th inline-class="hide" align="center" width="60" border="0" style="width: 60px;">&nbsp;</th>
                      <!-- text -->
                      <th inline-class="show m-background-scurve-textbox-right" align="center" border="0">
                        <table inline-class="mobile" align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                          <!-- headline h2 and paragraph -->
                          <tr>
                            <th class="pad-btm--45" inline-class="m-pad-btm--30" align="center" width="100%" border="0" style="width: 100%;">
                              <h2 class="txt--h2 marg-btm--25 align--left" inline-class="txt--h2 m-marg-btm--15">Product Name <br class="hide" />Goes Here</h2>
                              <p class="txt--body align--left" inline-class="txt--body">Lorem ipsum dolor sit <br class="hide" />amet, consectetur adipi- <br class="hide" />scing elit, sed do</p>
                            </th>
                          </tr>
                          <!-- divider -->
                          <tr>
                            <th class="pad-btm--25" align="center" width="100%" border="0" style="padding: 0px; width: 100%;">
                              <table align="left" role="presentation" border="0" cellpadding="0" cellspacing="0" width="50" style="width: 50px; min-width: 50px;">
                                <tr>
                                  <th align="center" width="100%" border="0" height="1" style="padding: 0px; width: 100%; border-bottom: 2px solid #8c8b8a; height: 1px; line-height: 1px; font-size: 1px;">&nbsp;</th>
                                </tr>
                                <tr>
                                  <th align="center" width="100%" border="0" height="1" style="padding: 0px; width: 100%; height: 1px; line-height: 1px; font-size: 1px;">&nbsp;</th>
                                </tr>
                              </table>
                            </th>
                          </tr>
                          <!-- link -->
                          <tr>
                            <th class="align--left" align="center" width="100%" border="0" style="width: 100%;">
                              {% include "modules/partials/product-link.njk" %}
                            </th>
                          </tr>
                        </table>
                      </th>
                      <!-- spacer 2 -->
                      <th inline-class="hide" align="center" width="342" border="0" style="width: 342px;">&nbsp;</th>
                    </tr>
                  </table>
                </th>
              </tr>
            </table>
          </div>
          <!--[if gte mso 9]>
                  </v:textbox>
                  </v:fill>
                  </v:rect>
                  </v:image>
                  <![endif]-->
        </th>
      </tr>
    </table>
  </th>
</tr>
<!-- left image -->
<tr>
  <th class="pad-btm--60" align="center" style="width: 100%;" width="100%">
    <table inline-class="mobile" align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
      <tr>
        <th inline-class="m-background-scurve" background="https://via.placeholder.com/650x400" width="650" height="400" style="background-image: url('https://via.placeholder.com/650x400'); background-repeat: no-repeat; background-position: center center; background-size: cover; background-color: #cccccc; vertical-align: middle;">
          <!-- convert pixels to points for outlook width and height using the expectation that 1px = 1pt -->
          <!-- formula: pt = px * .75 -->
          <!--[if gte mso 9]>
            <v:image xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style=" border: 0;display: inline-block; width:487.5pt; height:300pt;" src="https://via.placeholder.com/650x400" />
            <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style=" border: 0;display: inline-block;position: absolute; width:487.5pt; height:300pt;">
            <v:fill  opacity="0%" color="#cccccc"  />
            <v:textbox style="v-text-align: center" inset="0,0,0,0">
            <![endif]-->
          <div>
            <!-- Overlay image or text -->
            <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%; vertical-align: middle;" width="100%" role="presentation">
              <tr>
                <th inline-class="m-background-scurveHeight" height="400" style="width: 100%; height: 400px; vertical-align: middle;">
                  <table inline-class="reset--width float--right" align="right" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                    <tr>
                      <!-- spacer 1 -->
                      <th inline-class="hide" align="center" width="342" border="0" style="width: 342px;">&nbsp;</th>
                      <!-- text -->
                      <th inline-class="show m-background-scurve-textbox-left float--right m-pad-r--30" align="center" border="0">
                        <table inline-class="mobile" align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                          <!-- headline h2 and paragraph -->
                          <tr>
                            <th class="pad-btm--45" inline-class="m-pad-btm--30" align="center" width="100%" border="0" style="width: 100%;">
                              <h2 class="txt--h2 marg-btm--25 align--right" inline-class="txt--h2 m-marg-btm--15">Product Name <br class="hide" />Goes Here</h2>
                              <p class="txt--body align--right" inline-class="txt--body">Lorem ipsum dolor sit <br class="hide" />amet, consectetur adipi- <br class="hide" />scing elit, sed do</p>
                            </th>
                          </tr>
                          <!-- divider -->
                          <tr>
                            <th class="pad-btm--25" align="center" width="100%" border="0" style="padding: 0px; width: 100%;">
                              <table align="right" role="presentation" border="0" cellpadding="0" cellspacing="0" width="50" style="width: 50px; min-width: 50px;">
                                <tr>
                                  <th align="center" width="100%" border="0" height="1" style="padding: 0px; width: 100%; border-bottom: 2px solid #8c8b8a; height: 1px; line-height: 1px; font-size: 1px;">&nbsp;</th>
                                </tr>
                                <tr>
                                  <th align="center" width="100%" border="0" height="1" style="padding: 0px; width: 100%; height: 1px; line-height: 1px; font-size: 1px;">&nbsp;</th>
                                </tr>
                              </table>
                            </th>
                          </tr>
                          <!-- link -->
                          <tr>
                            <th class="align--right" align="center" width="100%" border="0" style="width: 100%;">
                              {% include "modules/partials/product-link.njk" %}
                            </th>
                          </tr>
                        </table>
                      </th>
                      <!-- spacer 2 -->
                      <th inline-class="hide" align="center" width="60" border="0" style="width: 60px;">&nbsp;</th>
                    </tr>
                  </table>
                </th>
              </tr>
            </table>
          </div>
          <!--[if gte mso 9]>
                  </v:textbox>
                  </v:fill>
                  </v:rect>
                  </v:image>
                  <![endif]-->
        </th>
      </tr>
    </table>
  </th>
</tr>
<!-- END: MODULE - BACKGROUND IMAGE SCURVE -->