<!-- START: MODULE - IMAGE TEXT LEFT HEADLINE -->
<tr>
  <th border="0" style="width: 100%; direction: rtl;" width="100%" align="center">
    <table inline-class="mobile"  align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
      <tr>
        <th class="pad-btm--60" align="center" width="100%" border="0" style="width: 100%;">
          <table inline-class="mobile"  align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
            <tr>
              <th class="bg-light-gray" align="center" width="100%" border="0" style="width: 100%;">
                <table align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                  <tr>
                    <th inline-class="stack m-width--100" border="0" style="vertical-align: middle;" align="center">
                      <table inline-class="mobile"  align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                        <tr>
                          <th border="0" style="width: 100%; direction: ltr;" width="100%" align="center">
                            <table inline-class="mobile"  align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                              <!-- text -->
                              <tr>
                                <th class="pad-lr--30 pad-t--30 pad-btm--35" inline-class="m-pad-lr--30" align="center" width="100%" border="0" style="padding: 0px; width: 100%;">
                                  <h3 class="txt--h3 marg-btm--5" inline-class="txt--h3">EYEBROW COPY</h3>
                                  <h2 class="txt--h2 marg-btm--25" inline-class="txt--h2">Medium Headline Goes Here</h2>
                                  <p class="txt--body" inline-class="txt--body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam finibus pellentesque ante eu condimentum. Vivamus condimentum, erat vitae tincidunt.</p>
                                </th>
                              </tr>
                              <!-- button -->
                              {% include "modules/partials/button-small-center.njk" %}
                            </table>
                          </th>
                        </tr>
                      </table>
                    </th>
                    <th inline-class="stack m-width--100 hero m-pad-tb--40" border="0" style="width: 290px; vertical-align: middle;" width="290" align="center">
                      <a href="https://www.curreyandcompany.com/" border="0" target="_blank" name=""><img src="https://via.placeholder.com/290x450" style="display: block; margin: 0 auto;" width="290" height="450" /></a>
                    </th>
                  </tr>
                </table>
              </th>
            </tr>
          </table>
        </th>
      </tr>
    </table>
  </th>
</tr>
<!-- END: MODULE - IMAGE TEXT LEFT HEADLINE -->