<tr>
  <th class="pad-lr--30 pad-t--40 pad-btm--25" inline-class="m-pad-lr--30 m-pad-tb--30" align="center" width="100%" border="0" style="padding: 0px; width: 100%;">
    <p class="txt--body" inline-class="txt--body">This is an example module.</p>
  </th>
</tr>