<!-- START: MODULE - SCURVE BOX -->
<!-- right image -->
<tr>
  <th border="0" style="width: 100%; direction: rtl;" width="100%" align="center">
    <table inline-class="mobile"  align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
      <tr>
        <th class="pad-btm--30" align="center" width="100%" border="0" style="width: 100%;">
          <table inline-class="mobile"  align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
            <tr>
              <th class="bg-light-gray" align="center" width="100%" border="0" style="width: 100%;">
                <table align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                  <tr>
                    <th inline-class="hero stack m-width--100" border="0" style="width: 300px; vertical-align: middle;" width="300" align="center">
                      <a href="https://www.curreyandcompany.com/" border="0" target="_blank" name=""><img src="https://via.placeholder.com/300x390" style="display: block; margin: 0 auto;" width="300" height="390" /></a>
                    </th>
                    <th inline-class="stack m-width--100" border="0" style="vertical-align: middle;" align="center">
                      <table inline-class="mobile"  align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                        <tr>
                          <th class="pad-lr--30 pad-tb--30" border="0" style="vertical-align: middle;" align="center">
                            <table inline-class="mobile"  align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                              <tr>
                                <th class="bg-white pad-lr--30 pad-tb--45" align="center" width="100%" border="0" style="width: 100%;">
                                  <table inline-class="mobile"  align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                                    <tr>
                                      <th border="0" style="width: 100%; direction: ltr;" width="100%" align="center">
                                        <table inline-class="mobile"  align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                                          <!-- headline h2 and paragraph -->
                                          <tr>
                                            <th class="pad-btm--25" inline-class="m-pad-btm--30" align="center" width="100%" border="0" style="width: 100%;">
                                              <h2 class="txt--h2 font-size--30 marg-btm--25" inline-class="txt--h2 m-marg-btm--15">Product Name <br class="hide" />Goes Here</h2>
                                              <p class="txt--body" inline-class="txt--body">Lorem ipsum dolor sit <br class="hide" />amet, consectetur adipi- <br class="hide" />scing elit, sed do</p>
                                            </th>
                                          </tr>
                                          <!-- divider -->
                                          <tr>
                                            <th class="pad-btm--25" align="center" width="100%" border="0" style="padding: 0px; width: 100%;">
                                              <table align="center" role="presentation" border="0" cellpadding="0" cellspacing="0" width="50" style="width: 50px; min-width: 50px;">
                                                <tr>
                                                  <th align="center" width="100%" border="0" height="1" style="padding: 0px; width: 100%; border-bottom: 2px solid #8c8b8a; height: 1px; line-height: 1px; font-size: 1px;">&nbsp;</th>
                                                </tr>
                                                <tr>
                                                  <th align="center" width="100%" border="0" height="1" style="padding: 0px; width: 100%; height: 1px; line-height: 1px; font-size: 1px;">&nbsp;</th>
                                                </tr>
                                              </table>
                                            </th>
                                          </tr>
                                          <!-- link -->
                                          <tr>
                                            <th align="center" width="100%" border="0" style="width: 100%;">
                                              {% include "modules/partials/product-link.njk" %}
                                            </th>
                                          </tr>
                                        </table>
                                      </th>
                                    </tr>
                                  </table>
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>
              </th>
            </tr>
          </table>
        </th>
      </tr>
    </table>
  </th>
</tr>
<!-- left image -->
<tr>
  <th class="pad-btm--60" align="center" width="100%" border="0" style="padding: 0px; width: 100%;">
    <table align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
      <tr>
        <th class="bg-light-gray" align="center" width="100%" border="0" style="width: 100%;">
          <table inline-class="mobile"  align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
            <tr>
              <th inline-class="hero stack m-width--100" border="0" style="width: 300px; vertical-align: middle;" width="300" align="center">
                <a href="https://www.curreyandcompany.com/" border="0" target="_blank" name=""><img src="https://via.placeholder.com/300x390" style="display: block; margin: 0 auto;" width="300" height="390" /></a>
              </th>
              <th inline-class="stack m-width--100" border="0" style="vertical-align: middle;" align="center">
                <table inline-class="mobile"  align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                  <tr>
                    <th class="pad-lr--30 pad-tb--30" border="0" style="vertical-align: middle;" align="center">
                      <table inline-class="mobile"  align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                        <tr>
                          <th class="bg-white pad-lr--30 pad-tb--45" align="center" width="100%" border="0" style="width: 100%;">
                            <table align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                              <!-- headline h2 and paragraph -->
                              <tr>
                                <th class="pad-btm--25" inline-class="m-pad-btm--30" align="center" width="100%" border="0" style="width: 100%;">
                                  <h2 class="txt--h2 font-size--30 marg-btm--25" inline-class="txt--h2 m-marg-btm--15">Product Name <br class="hide" />Goes Here</h2>
                                  <p class="txt--body" inline-class="txt--body">Lorem ipsum dolor sit <br class="hide" />amet, consectetur adipi- <br class="hide" />scing elit, sed do</p>
                                </th>
                              </tr>
                              <!-- divider -->
                              <tr>
                                <th class="pad-btm--25" align="center" width="100%" border="0" style="padding: 0px; width: 100%;">
                                  <table align="center" role="presentation" border="0" cellpadding="0" cellspacing="0" width="50" style="width: 50px; min-width: 50px;">
                                    <tr>
                                      <th align="center" width="100%" border="0" height="1" style="padding: 0px; width: 100%; border-bottom: 2px solid #8c8b8a; height: 1px; line-height: 1px; font-size: 1px;">&nbsp;</th>
                                    </tr>
                                    <tr>
                                      <th align="center" width="100%" border="0" height="1" style="padding: 0px; width: 100%; height: 1px; line-height: 1px; font-size: 1px;">&nbsp;</th>
                                    </tr>
                                  </table>
                                </th>
                              </tr>
                              <!-- link -->
                              <tr>
                                <th align="center" width="100%" border="0" style="width: 100%;">
                                  {% include "modules/partials/product-link.njk" %}
                                </th>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>
              </th>
            </tr>
          </table>
        </th>
      </tr>
    </table>
  </th>
</tr>
<!-- END: MODULE - SCURVE BOX -->