<!-- START: MODULE - SCURVE -->
<!-- left image -->
<tr>
  <th class="pad-btm--10" inline-class="m-pad-btm--60" align="center" width="100%" border="0" style="width: 100%;">
    <table inline-class="mobile"  align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
      <tr>
        <th inline-class="hero stack m-width--100 m-pad-btm--25" border="0" style="width: 380px; vertical-align: middle;" width="380" align="center">
          <a href="https://www.curreyandcompany.com/" border="0" target="_blank" name=""><img src="https://via.placeholder.com/380x380" style="display: block; margin: 0 auto;" width="380" height="380" /></a>
        </th>
        <th inline-class="stack m-width--100" border="0" style="vertical-align: middle;" align="center">
          <table inline-class="mobile"  align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
            <tr>
              <th inline-class="m-pad-lr--30" border="0" style="vertical-align: middle;" align="center">
                <table inline-class="mobile"  align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                  <!-- divider -->
                  <tr>
                    <th class="pad-btm--20" align="center" width="100%" border="0" style="padding: 0px; width: 100%;">
                      <table align="center" role="presentation" border="0" cellpadding="0" cellspacing="0" width="80" style="width: 80px; min-width: 80px;">
                        <tr>
                          <th align="center" width="100%" border="0" height="1" style="padding: 0px; width: 100%; border-bottom: 2px solid #8c8b8a; height: 1px; line-height: 1px; font-size: 1px;">&nbsp;</th>
                        </tr>
                        <tr>
                          <th align="center" width="100%" border="0" height="1" style="padding: 0px; width: 100%; height: 1px; line-height: 1px; font-size: 1px;">&nbsp;</th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                  <!-- headline h5 and link --> 
                  {% include "modules/partials/product-name-link.njk" %}
                </table>
              </th>
            </tr>
          </table>
        </th>
      </tr>
    </table>
  </th>
</tr>
<!-- right image -->
<tr>
  <th border="0" style="width: 100%; direction: rtl;" width="100%" align="center">
    <table inline-class="mobile"  align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
      <tr>
        <th class="pad-btm--60" align="center" width="100%" border="0" style="width: 100%;">
          <table inline-class="mobile"  align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
            <tr>
              <th inline-class="hero stack m-width--100 m-pad-btm--25" border="0" style="width: 380px; vertical-align: middle;" width="380" align="center">
                <a href="https://www.curreyandcompany.com/" border="0" target="_blank" name=""><img src="https://via.placeholder.com/380x380" style="display: block; margin: 0 auto;" width="380" height="380" /></a>
              </th>
              <th class="pad-r--30" inline-class="stack m-width--100 m-pad--0" border="0" style="vertical-align: middle;" align="center">
                <table inline-class="mobile"  align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                  <tr>
                    <th inline-class="m-pad-lr--30" align="center" width="100%" border="0" style="width: 100%;">
                      <table inline-class="mobile"  align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                        <tr>
                          <th border="0" style="width: 100%; direction: ltr;" width="100%" align="center">
                            <table inline-class="mobile"  align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                              <!-- divider -->
                              <tr>
                                <th class="pad-btm--20" align="center" width="100%" border="0" style="padding: 0px; width: 100%;">
                                  <table align="center" role="presentation" border="0" cellpadding="0" cellspacing="0" width="80" style="width: 80px; min-width: 80px;">
                                    <tr>
                                      <th align="center" width="100%" border="0" height="1" style="padding: 0px; width: 100%; border-bottom: 2px solid #8c8b8a; height: 1px; line-height: 1px; font-size: 1px;">&nbsp;</th>
                                    </tr>
                                    <tr>
                                      <th align="center" width="100%" border="0" height="1" style="padding: 0px; width: 100%; height: 1px; line-height: 1px; font-size: 1px;">&nbsp;</th>
                                    </tr>
                                  </table>
                                </th>
                              </tr>
                              <!-- headline h5 and link --> 
                              {% include "modules/partials/product-name-link.njk" %}
                            </table>
                          </th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>
              </th>
            </tr>
          </table>
        </th>
      </tr>
    </table>
  </th>
</tr>
<!-- END: MODULE - SCURVE -->