<!-- START: TEXT BLOCK WITH BUTTON -->
<tr>
  <th class="pad-btm--60" align="center" width="100%" border="0" style="width: 100%;">
    <table inline-class="mobile" align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
      <tr>
        <th class="bg-light-gray pad-tb--50 pad-lr--30" align="center" width="100%" border="0" style="width: 100%;">
          <table inline-class="mobile" align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
            <!-- text -->
            <tr>
              <th class="pad-btm--35" align="center" width="100%" border="0" style="padding: 0px; width: 100%;">
                <h4 class="txt--h4 marg-btm--5" inline-class="txt--h4">EYEBROW COPY</h4>
                <h1 class="txt--h1 marg-btm--25" inline-class="txt--h1">LARGE HEADLINE HERE</h1>
                <p class="txt--body" inline-class="txt--body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel est <br class="hide" />odio. Quisque a mollis metus. Pellentesque egestas, lectus sit amet <br class="hide" />pulvinar euismod, purus sem consequat augue, quis luctus <br class="hide" />quam magna sed felis. Aliquam turpis.</p>
              </th>
            </tr>
            <!-- button -->
            {% include "modules/partials/button.njk" %}
          </table>
        </th>
      </tr>
    </table>
  </th>
</tr>
<!-- END: TEXT BLOCK WITH BUTTON -->