<!-- START: TEXT BLOCK WITH IMAGE AND BUTTON -->
<tr>
  <th class="pad-btm--60" align="center" width="100%" border="0" style="width: 100%;">
    <table inline-class="mobile" align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
      <tr>
        <th class="bg-light-gray pad-tb--45" align="center" width="100%" border="0" style="width: 100%;">
          <table inline-class="mobile" align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
            <!-- headline h2 -->
            <tr>
              <th class="pad-btm--20" align="center" width="100%" border="0" style="width: 100%;">
                <h2 class="txt--h2" inline-class="txt--h2">Medium Headline Goes Here</h2>
              </th>
            </tr>
            <!-- image -->
            <tr>
              <th class="pad-btm--30" inline-class="hero" border="0" style="width: 100%;" width="100%" align="center">
                <a href="https://www.curreyandcompany.com/" name="" target="_blank" xt="SPCLICK"><img src="https://via.placeholder.com/615x350" width="615" height="350" alt="" border="0" style="display: block; margin: 0 auto;" /></a>
              </th>
            </tr>
            <!-- text -->
            <tr>
              <th class="pad-btm--35 pad-lr--30" align="center" width="100%" border="0" style="width: 100%;">
                <p class="txt--body" inline-class="txt--body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam finibus pellentesque ante eu condimentum. Vivamus condimentum.</p>
              </th>
            </tr>
            <!-- button -->
            {% include "modules/partials/button-small-center.njk" %}
          </table>
        </th>
      </tr>
    </table>
  </th>
</tr>
<!-- END: TEXT BLOCK WITH IMAGE AND BUTTON -->