@media only screen and (max-width: 370px) {
  .txt--btn {
    padding-left: 30px !important;
    padding-right: 30px !important;
    width: 100% !important;
  }

  /* Background Image Two Module */
  .m-bg-two-spacer {height: 42vw !important;}
  .m-bg-two-r1-textbox {padding-top: 1vw !important;}
  .m-bg-two-r1-textbox p {font-size: 14px !important;}
  .m-bg-two-r2-textbox p {font-size: 14px !important;}
  
}