@media only screen and (max-width: 480px) {
  .txt--h1 {font-size: 36px !important;}
  .txt--h2 {font-size: 28px !important;}
  .txt--h4 {font-size: 20px !important;}
  .txt--h5 {font-size: 16px !important;}
  .txt--body {font-size: 16px !important;}



  .m-marg-btm--15 {margin-bottom: 15px !important;}




  /* Background Image Two Module */
  .m-bg-two {background-size: 115% !important;}
  .m-bg-two-spacer {height: 45vw !important;}
  .m-bg-two-r1-divider, .m-bg-two-r2-divider {display: none !important;}
  .m-bg-two-r1-textbox {padding-top: 6.5vw !important;}
  .m-bg-two-r2-textbox {padding-top: 0 !important;}
  .m-bg-two-r1-textbox p {font-size: 15px !important;}
  .m-bg-two-r2-textbox p {font-size: 15px !important;}

  /* Background Image Scurve */
  .m-background-scurve {/** width always 100vw, height: image height divided by image width x100 **/
    width: 100vw !important;height: 90vw !important;}
  .m-background-scurveHeight {height: 90vw !important;}
  .m-background-scurve-textbox-right {padding-left: 15px !important;}
  .m-background-scurve-textbox-left {padding-right: 15px !important;}

  
}