<tr>
  <th class="pad-t--20 pad-btm--80" inline-class="m-pad-lr--30" align="center" width="100%" border="0" style="padding: 0px; width: 100%;">
    <table align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
      <tr>
        <th class="unsub pad-btm--30" align="center" width="100%" border="0" style="padding: 0px; width: 100%;">
          <a href="%%view_email_url%%" name="ViewOnline_link" target="_blank">VIEW IN BROWSER</a> &nbsp;|&nbsp; <a href="https://pub.s7.exacttarget.com/gzthsvxechz" name="Unsubscribe_link" target="_blank">UNSUBSCRIBE</a>
        </th>
      </tr>
      <tr>
        <th class="txt-footer--body" align="center" width="100%" border="0" style="padding: 0px; width: 100%;">
          <a href="https://www.curreyandcompany.com/" name="Address_link" target="_blank">%%Member_Busname%% <br />
            %%Member_Addr%% %%Member_City%%, %%Member_State%%, %%Member_PostalCode%%, %%Member_Country%%</a>
        </th>
      </tr>
    </table>
  </th>
</tr>