<!-- START: MODULE - BUTTON -->
<tr>
  <th align="center" width="100%" border="0" style="width:100%;">
    <table align="center" width="100%" border="0" role="presentation" cellpadding="0" cellspacing="0" style="width:100%;">
      <tr>
        <th class="pad-lr--20 pad-btm--20" align="center" width="100%" border="0" style="width:100%;">
          <table align="center" width="100%" border="0" role="presentation" cellpadding="0" cellspacing="0" style="width:100%;">
            <tr>
              <th align="center" width="100%" border="0" style="width:100%;">
                <!-- bullet proof button -->
                <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:100%;" width="100%">
                  <tr>
                    <th align="center" width="100%" border="0" style="width:100%;">
                      <table align="center" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <th class="txt--btn" align="center" width="100%" border="0" style="width: 100%;"><a href="https://www.whereoware.com/"
                              data-type="button" target="_blank" name="">Button Text</a></th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>
                <!-- end bullet proof button -->
              </th>
            </tr>
          </table>
        </th>
      </tr>
    </table>
  </th>
</tr>
<!-- END: MODULE - BUTTON -->