<!-- START: MODULE - EXAMPLE -->
<tr>
  <th align="center" width="100%" border="0" style="width:100%;">
    <table align="center" width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
      <tr>
        <th class="txt--body" align="center" data-type="textbox" width="100%" border="0" style="width: 100%;">example module.</th>
      </tr>
    </table>
  </th>
</tr>
<!-- END: MODULE - EXAMPLE -->